@model Ctulhu.Models.Posts

<h2>Редактировать пост</h2>

<form asp-action="EditPost" method="post">
    <input type="hidden" asp-for="ID" />
    <div>
        <label asp-for="Title">Заголовок</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description">Описание</label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label>Автор</label>
        <span><b>@Model.Author</b></span>
        <input type="hidden" asp-for="Author" />
    </div>
    <button type="submit">Сохранить</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
