@model Ctulhu.Models.Login

<div class="login-auth">
    <h1>Страница входа</h1>
    <form asp-action="Login" method="post">
        <label>Логин</label>
        <input type="text" asp-for="Username" />
        <span asp-validation-for="Username"></span>
        <br>
        <label>Пароль</label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <br>
        <button type="submit">Войти</button>
    </form>

    <p>Ещё нет аккаунта? <a href="@Url.Action("Registration", "Login")">Зарегистрироваться</a></p>
</div>