<div class="auth">
    <h1>Страница входа</h1>
    <form>
        <label>Логин</label>
        <input type="text" class="textboxes">
        <br>
        <label>Пароль</label>
        <input type="password" class="textboxes">
        <br>
        <button type="submit">Войти</button>
    </form>
</div>