@model Ctulhu.Models.Registration

<div class="auth">
    <h1>Регистрация</h1>
    <form asp-action="Registration" method="post">
        <div>
            <label asp-for="Login">Логин</label>
            <input asp-for="Login" />
        </div>
        <div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" type="password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Подтверждение пароля</label>
            <input asp-for="ConfirmPassword" type="password" />
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>

    <p>Уже зарегистрированы? <a href="@Url.Action("Login", "Login")">Войти</a></p>
</div>
