body {
    padding: 0px;
    margin: 0px;
    background-image: url("/img/backimg.jpg");
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    flex-grow: 1;
    text-align: center;
}

nav {
    margin: 100px 0;
}

    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    }

        nav ul li {
            margin: 0px -7px 0 0;
            display: inline-block;
        }

            nav ul li:hover > ul {
                display: inherit;
            }

        nav ul ul {
            display: none;
            position: absolute;
            top: 100%;
            padding-right: 5px;
            left: 14%;
        }

            nav ul ul li {
                width: 100%;
                min-width: 170px;
                float: none;
                display: block;
                text-align: center;
                position: relative;
                background: rgba(66, 61, 61, 0.192);
                backdrop-filter: blur(10px);
                margin: 0;
            }

    nav a {
        position: relative;
        display: block;
        padding: 0 20px;
        color: #FFF;
        font-size: 24px;
        line-height: 90px;
        text-decoration: none;
    }

        nav a::before {
            content: "";
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            background-color: white;
            transition: 0.2s;
        }

        nav a:hover:before {
            transform: scaleX(1);
        }

footer {
    display: flex;
    height: 200px;
    width: 100%;
    background: rgba(66, 61, 61, 0.192);
    backdrop-filter: blur(10px);
    justify-content: end;
    align-items: center;
    color: #FFF;
    font-size: 12px;
}

main {
    display: flex;
    width: 80%;
    min-height: 1000px;
    margin: 0 auto;
    background-color: rgb(222, 222, 222);
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.5), -10px 0px 5px rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 5px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

    .logo:hover {
        background: rgba(0, 0, 0, 0.292);
        transition: 0.5s;
    }

header {
    background: rgba(66, 61, 61, 0.192);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: inline-block;
}

.post {
    display: inline-block;
    margin: 30px;
    width: 80%;
    background-color: red;
}

.profile {
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.textboxes {
    width: 250px;
    height: 30px;
    margin: 10px;
}

.auth {
    position: absolute;
    left: 40%;
}

.admin-panel {
    margin: 0 auto;
    max-width: 800px; /* Примерное ограничение ширины панели */
    padding: 20px;
}

.post1-list {
    display: flex;
    flex-direction: column;
}

.post1 {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

}

.actions {
    margin-top: 10px;
}

    .actions form,
    .actions a {
        margin-right: 10px;
    }

.container {
    width: 100%;
    background-color: #f3f3f3;
    padding: 20px;
    padding-right: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-panel {
    text-align: center;
    margin-bottom: 20px;
}

.user-card {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr auto;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.user-info {
    padding: 10px;
    text-align: center;
}

.user-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

    .btn.orange {
        background-color: orange;
    }

    .btn.red {
        background-color: red;
    }

/*# sourceMappingURL=style.css.map */

